button, a[class^="icon-"], a[class*=" icon-"] {
	height: $buttonSize;
	line-height: $buttonSize;
	z-index: 5;
	padding: 0 10px;
	
	// big bold appearance, no background
	font-size: 20px;
	text-decoration: none;
	color: $iconColor;
	background: transparent;
	border: none;
	@include border-radius(3px);
	@include transition(all 0.25s);

	[class^="icon-"], [class*=" icon-"] { 
		font-size: 30px; 
		vertical-align: middle;
	}

	// rounded rectangle background appears on hover
	&:hover, &:focus, &.active {
		color: #333;
		background: #aaa;

		// special color styles: good (green), bad (red), okay (blue), warn (yellow)
		&.good {
			color: white;
			background: $green;
		}
		&.bad {
			color: white;
			background: $red;
		}
		&.okay {
			color: white;
			background: $blue;
		}
		&.warn {
			color: white;
			background: $yellow;
		}
	}

	&.active { opacity: 0.6; }
	&.active:hover {opacity: 1.0; }
	
}

/* a simple square button containing a large FontAwesome icon.
 * normally, just the icon is visible. on hover, a solid rounded
 * background appears. change the background color to give
 * buttons different meaning. */
button[class^="icon-"], button[class*=" icon-"],
a[class^="icon-"], a[class*=" icon-"] {
	// set exact sizing
	@include square($buttonSize);
	line-height: $buttonSize;
	padding: 0;
	font-size: ($buttonSize * 3 / 4);
	
	position: absolute;
	

	// control absolute positioning - which side
	&.left  { left:  $padding; right: auto; }
	&.right { right: $padding; left:  auto; }
	&.top   { top:   $padding; }
	&.bottom{ bottom: $padding; }
	&.middle {
		// center vertically in parent element
		margin-top: -$buttonSize / 2;
		top: 50%;
	}

	&.small {
		font-size: $buttonSize / 2;
		@include square($buttonSize * 3 / 4);
		line-height: ($buttonSize * 3 / 4);
	}
}

// some special icon classes
.icon-private { @extend .icon-lock;   @extend .bad; }
.icon-shared  { @extend .icon-key;    @extend .warn; }
.icon-public  { @extend .icon-unlock; @extend .good; }

