<div class="view">
	<a href="list/<%= objectId %>"><%= title %></a>
	<div class="options">
		<button class="icon right bad item-destroy" title="delete item"><i class="icon-remove"></i></button>
	</div>
</div>
<input class="edit" value="<%= title %>">