<div id="actions">
</div>
<h1 id="title">
	<%= title %><br/>
	<small><%= tagline || '&nbsp;' %></small>
</h1>
<div class="list-body">
	<header id="header">
		<input type="text" id="newItem" placeholder="Add a new item..." autocomplete="off">
		<button class="icon-arrow-right good right middle input-submit" />
	</header>

	<ul id="list"></ul>

	<footer id="footer">
	</footer>
</div>