<a href="/" class="btn btn-primary pull-left">Listen</a>
<h1 id="title">
	<%= title %><br/>
	<small><%= tagline || '&nbsp;' %>
</h1>
<header id="header">
	<input type="text" id="newItem" placeholder="Add a new item...">
</header>

<ul id="list"></ul>

<footer id="footer">
</footer>