<div class="view">
	<label class="item-content">
		<%= content %>
	<% if(typeof objectId === 'undefined') { %>
		<i class="icon-spinner icon-spin right middle"></i>
	<% } %>
	</label>
	<% if(editable) { %>
	<div class="options">
		<button class="icon-remove right middle bad item-destroy" title="delete item" />
		<span class="btn-group btn-group-vertical" style="display:none">
			<button class="btn move-up" title="move item up"><i class="icon-chevron-up"></i></button>
			<button class="btn move-down" title="move item down"><i class="icon-chevron-down"></i></button>
		</span>
	</div>
	<% } %>
</div>
<% if(editable) { %><input class="edit" value="<%= content %>"><% } %>
